.bg-img{
background-image: url("https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.big-font{
font-size: 250%
}

.white-opa{
  background-color: rgba(253, 253, 253, 0.1)

}

.note{
  font-family: 'Notable', sans-serif;
}
.img{
  width: 3rem;
  height: 3rem;
}
.bigger-font{
  font-size : 400%;
}
.m-height{
  min-height: 75px;
}